name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 22
      uses: actions/setup-java@v4
      with:
        java-version: '22'
        distribution: 'temurin'
        cache: 'maven'

    - name: Install Xvfb and JavaFX dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y xvfb libgtk-3-0 libglu1-mesa

    - name: Test with Maven
      # Utilisation de xvfb-run pour simuler un écran pour TestFX.
      # Note: On n'utilise pas -Djava.awt.headless=true car TestFX/JavaFX a besoin d'un écran (simulé ici).
      run: xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" mvn -B test --file pom.xml
